<!-- <div
  class="wrap"
  [class.dark-class]="isComponentBGDark"
  [class.white-class]="!isComponentBGDark"
>
  <section>
    <h1 class="sub-title" appScrollReveal>🛁University of Bath</h1>
    <h5 class="center-text" appScrollReveal>
      🖥️ Computer Science and 📐 Mathematics <br />
      BSc (Hons) with Industrial Experience
    </h5>
    <h3 appScrollReveal>Year 4</h3>
    <h4 appScrollReveal>Semester 1</h4>
    <h4 appScrollReveal>Semester 2  </h4>
    <div class="y4-container" appScrollReveal>
      <span
        [class.dark-loader]="isComponentBGDark"
        [class.light-loader]="!isComponentBGDark"
      ></span>
      <p>in progress</p>
    </div>

    <h3 appScrollReveal>Year 3</h3>
    <div class="y3-container" appScrollReveal>
      <a routerLink="/experience" routerLinkActive="active" appScrollReveal
        >Checkout my placement here</a
      >
      <fa-icon class="chevron" [icon]="faChevronRight"></fa-icon>
    </div>
    <h3 appScrollReveal>Year 2</h3>
    <h4 appScrollReveal>Semester 1</h4>
    <div class="four-by-four-fixed" appScrollReveal>
      <a href="https://www.bath.ac.uk/catalogues/2023-2024/cm/CM20254.html">
        Data structures and algorithms
      </a>

      <a href="https://www.bath.ac.uk/catalogues/2023-2024/cm/CM20217.html"
        >Foundations of computation</a
      >

      <a href="https://www.bath.ac.uk/catalogues/2022-2023/ma/MA20216.html"
        >Algebra 2A</a
      >

      <a href="https://www.bath.ac.uk/catalogues/2022-2023/ma/MA20218.html"
        >Analysis 2A</a
      >
    </div>

    <h4 appScrollReveal>Semester 2</h4>
    <div class="four-by-four-fixed" appScrollReveal>
      <a href="https://www.bath.ac.uk/catalogues/2023-2024/cm/CM20318.html"
        >Comparative programming</a
      >

      <a href="https://www.bath.ac.uk/catalogues/2022-2023/cm/CM20256.html">
        Functional programming
      </a>

      <a href="https://www.bath.ac.uk/catalogues/2022-2023/ma/MA20217.html"
        >Algebra 2B</a
      >

      <a href="https://www.bath.ac.uk/catalogues/2022-2023/ma/MA20219.html"
        >Analysis 2B</a
      >
    </div>

    <h3 appScrollReveal>Year 1</h3>
    <div class="four-by-four-fixed" appScrollReveal>
      <a href="https://bath.ac.uk/catalogues/2022-2023/cm/CM10310.html">
        Artificial intelligence
      </a>

      <a href="https://www.bath.ac.uk/catalogues/2022-2023/cm/CM10227.html">
        Principles of <br />programming 1</a
      >

      <a href="https://www.bath.ac.uk/catalogues/2022-2023/cm/CM10228.html">
        Principles of programming 2</a
      >

      <a href="https://www.bath.ac.uk/catalogues/2022-2023/ma/MA10207.html">
        Analysis 1</a
      >
    </div>
    <div class="four-by-four-fixed" appScrollReveal>
      <a href="https://www.bath.ac.uk/catalogues/2022-2023/ma/MA10209.html">
        Algebra 1A
      </a>

      <a href="https://www.bath.ac.uk/catalogues/2022-2023/ma/MA10210.html"
        >Algebra 1B</a
      >
    </div>
  </section>
</div> -->
