<div
  class="wrapper"
  [class.dark-class]="isComponentBGDark"
  [class.white-class]="!isComponentBGDark"
>
  <section>
    <h3>Improving the Robustness of a Musical Deepfake Detector through Perceptual Hashing</h3>
    <h5>About</h5>
    <!-- TODO Need this as a dropdown -->
    <p>
        The music industry faces a growing threat due to the rise of artificial tools that can be used to impersonate artists and steal copyrighted work. These tools, known as deepfakes, generate AI-driven content that mimics or alters original music, posing significant risks to intellectual property and artist revenue.
        I aim to enhance the robustness of a music deepfake detector by incorporating perceptual hashing. While existing deepfake detection models can identify AI-generated music, they often suffer from overfitting and significant performance degradation when encountering previously unseen transformations, such as file format changes or the addition of noise. To address this, I propose the integration of perceptual hashing, which encourages the model to focus on high-level structural features rather than pixel-level details, thus improving its generalisation and resilience to such transformations. This approach aims to create a more robust detection system that can identify deepfakes across a range of alterations, ensuring more reliable performance in real-world scenarios.
        </p>
  </section>
</div>
