.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5%;
}

.y4-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -5%;
}

.y3-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -3%;
}

a {
  font-size: 20px;
  font-weight: 500;
  font-family: "Caveat", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
.center-text {
  text-align: center;
  margin-top: -1%;
}

a:visited {
  color: inherit;
}
a:hover {
  color: #5cadd2;
}

.dark-loader {
  width: 28px;
  height: 28px;
  border: 4px solid red;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-right: 2%;
}

.light-loader {
  width: 28px;
  height: 28px;
  border: 4px solid green;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-right: 2%;
}

h4 {
  margin-top: -1%;
}

.chevron {
  margin-left: 5px;
  margin-top: 5px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Tablet size (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  a {
    font-size: 13px;
  }
  .light-loader {
    width: 23px;
    height: 23px;
    border: 3px solid green;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-right: 2%;
  }
  .dark-loader {
    width: 23px;
    height: 23px;
    border: 3px solid red;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-right: 2%;
  }
}

/* Mobile size (max-width: 767px) */
@media (max-width: 767px) {
  a {
    font-size: 12px;
  }
  .light-loader {
    width: 18px;
    height: 18px;
    border: 2px solid green;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-right: 2%;
  }
  .dark-loader {
    width: 18px;
    height: 18px;
    border: 2px solid red;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-right: 2%;
  }
}
