<div class="about-grid">
  <app-title class="title"></app-title>

  <div class="profile-container">
    <div class="certificates-container">
      <div class="container">
        <a
          href="https://learn.microsoft.com/api/credentials/share/en-gb/JensonWintle-1210/598E5DAB522F9AB1?sharingId=ED7DCC9E8ECBFDEA"
        >
          <img
            class="azure-image"
            src="assets/AI-900+Badge.png
        "
            alt="AI-900 Badge"
          />
        </a>
      </div>
      <div class="container">
        <a
          href="https://learn.microsoft.com/api/credentials/share/en-gb/JensonWintle-1210/7D9E8CD982EC9AB8?sharingId=ED7DCC9E8ECBFDEA"
        >
          <img
            class="azure-image"
            src="assets/DP-900+Badge.png
        "
            alt="DP-900 Badge"
          />
        </a>
      </div>
    </div>
    <img
      class="profile-image"
      src="assets/profile-image.jpg"
      alt="Profile Image"
    />
    <div class="contact-details">
      <div
        [class.dark-contact-container]="isComponentBGDark"
        [class.white-contact-container]="!isComponentBGDark"
      >
        <a
          href="https://www.linkedin.com/in/jenson-w/"
          target="_blank"
          aria-label="LinkedIn"
        >
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <div
        [class.dark-contact-container]="isComponentBGDark"
        [class.white-contact-container]="!isComponentBGDark"
      >
        <a
          href="https://github.com/Jensooon"
          target="_blank"
          aria-label="GitHub"
        >
          <i class="fab fa-github"></i>
        </a>
      </div>
      <div
        [class.dark-contact-container]="isComponentBGDark"
        [class.white-contact-container]="!isComponentBGDark"
      >
        <a href="mailto:jenson.wintle@gmail.com" aria-label="Email">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="about-text">
    <p>
      I am passionate about software engineering, AI, and mathematics. In
      particular, I am interested in the intersection of AI and music and the
      exciting opportunities within this field. In my free time, I love playing
      guitar, staying active, and exploring new technologies.
    </p>
    <p>
      I recently completed my BSc (Hons) in Computer Science and Mathematics
      with a Year in Industry at the
      <strong>University of Bath</strong> 🛁, achieving a First Class Honours
      degree.
    </p>
  </div>
</div>
