<div>
  <div class="wrapper">
    <div class="header">jensooon.github.io</div>
    <div class="headings">
      <a
        [class.dark-navHeader]="isComponentBGDark"
        [class.white-navHeader]="!isComponentBGDark"
        [ngClass]="{ 'active-link': activeSection === 'home' }"
        (click)="scrollToSection('home')"
        >home</a
      >
      <a
        [class.dark-navHeader]="isComponentBGDark"
        [class.white-navHeader]="!isComponentBGDark"
        [ngClass]="{ 'active-link': activeSection === 'about' }"
        (click)="scrollToSection('about')"
        >about</a
      >
      <a
        [class.dark-navHeader]="isComponentBGDark"
        [class.white-navHeader]="!isComponentBGDark"
        [ngClass]="{ 'active-link': activeSection === 'projects' }"
        (click)="scrollToSection('projects')"
        >projects</a
      >
      <app-bb8-toggle class="bb8"></app-bb8-toggle>
    </div>

    <!-- <app-mobile-toggle class="mobile-toggle"></app-mobile-toggle> -->
  </div>
</div>
