<div
  [class.dark-class-header]="isComponentBGDark"
  [class.white-class-header]="!isComponentBGDark"
>
  <div class="wrapper">
    <div class="header">
          jensonwintle.com
    </div>
    <div class="left">
      <a
        [class.dark-navHeader]="isComponentBGDark"
        [class.white-navHeader]="!isComponentBGDark"
        [ngClass]="{ 'active-link': activeSection === 'home' }"  (click)="scrollToSection('home')"  >Home</a
      >
      <a
        [class.dark-navHeader]="isComponentBGDark"
        [class.white-navHeader]="!isComponentBGDark"
        [ngClass]="{ 'active-link': activeSection === 'about' }" (click)="scrollToSection('about')" >About</a
      >
      <a
        [class.dark-navHeader]="isComponentBGDark"
        [class.white-navHeader]="!isComponentBGDark"
        [ngClass]="{ 'active-link': activeSection === 'projects' }" (click)="scrollToSection('projects')" >Projects</a
      >
      <a
        [class.dark-navHeader]="isComponentBGDark"
        [class.white-navHeader]="!isComponentBGDark"
        [ngClass]="{ 'active-link': activeSection === 'dissertation' }" (click)="scrollToSection('dissertation')" >Dissertation</a
      >
    </div>
    <app-bb8-toggle class="bb8"></app-bb8-toggle>
    <app-mobile-toggle class="mobile-toggle"></app-mobile-toggle>
  </div>
</div>