<div
  [class.dark-class]="isComponentBGDark"
  [class.white-class]="!isComponentBGDark"
>
  <div class="wrapper">
    <div class="left">
      <a
        [class.dark-navHeader]="isComponentBGDark"
        [class.white-navHeader]="!isComponentBGDark"
        [ngClass]="{ 'active-link': activeSection === 'home' }"  (click)="scrollToSection('home')"  >Home</a
      >
      <a
        [class.dark-navHeader]="isComponentBGDark"
        [class.white-navHeader]="!isComponentBGDark"
        [ngClass]="{ 'active-link': activeSection === 'education' }" (click)="scrollToSection('education')" >Education</a
      >
      <a
        [class.dark-navHeader]="isComponentBGDark"
        [class.white-navHeader]="!isComponentBGDark"
        [ngClass]="{ 'active-link': activeSection === 'experience' }" (click)="scrollToSection('experience')" >Experience</a
      >
      <a
        [class.dark-navHeader]="isComponentBGDark"
        [class.white-navHeader]="!isComponentBGDark"
        [ngClass]="{ 'active-link': activeSection === 'dissertation' }" (click)="scrollToSection('dissertation')" >Dissertation</a
      >
    </div>
    <app-bb8-toggle class="bb8"></app-bb8-toggle>
    <app-mobile-toggle class="mobile-toggle"></app-mobile-toggle>
  </div>
</div>