<div
  class="wrapper"
  [class.dark-class]="isComponentBGDark"
  [class.white-class]="!isComponentBGDark"
>
  <section>
    <h1 class="sub-title" appScrollReveal>💼 14 Month Industrial Placement</h1>
    <h5 appScrollReveal>&#64; BAE Systems Digital Intelligence</h5>
    <h3 appScrollReveal>What I got up to:</h3>
    <h4 appScrollReveal>July - Dec 23</h4>
    <div class="four-by-four" appScrollReveal>
      <div class="wrapper">
        <fa-icon [icon]="faSyringe"></fa-icon>
        <p>
          Designed and developed a full-stack message injector application using
          WPF and Prism from initial planning to application maintenance.
        </p>
      </div>
      <div class="wrapper">
        <fa-icon [icon]="faMap"></fa-icon>
        <p>
          Styled geospatial data to create a map for an AI mission planner. This
          was using Style level descriptor.
        </p>
      </div>
      <div class="wrapper">
        <fa-icon [icon]="faPencil"></fa-icon>
        <p>Redesigned GUI for an existing application using WPF and Prism.</p>
      </div>
      <div class="wrapper">
        <fa-icon [icon]="faVideo"></fa-icon>
        <p>
          Designed and set up a video streaming architecture to record and
          stream DIS, video and audio data across a number of host computers.
        </p>
      </div>
    </div>

    <h4 appScrollReveal>Jan - Aug 24</h4>
    <div class="three-by-one" appScrollReveal>
      <div class="wrapper">
        <fa-icon [icon]="faDatabase"></fa-icon>
        <p>
          Worked on a massive codebase fixing and implementing features into a
          data preparation tool, using SQL scripts, Delphi and FireDac.
        </p>
      </div>
      <div class="wrapper">
        <fa-icon [icon]="faSearch"></fa-icon>
        <p>
          Implemented search functionality to be able to search for aircraft in
          the simulation.
        </p>
      </div>
      <div class="wrapper">
        <fa-icon [icon]="faWrench"></fa-icon>
        <p>
          Created a framework to automate testing of the simulator using
          AutoHotKey that would simulate common scenario’s occurring within the
          simulator.
        </p>
      </div>
    </div>
  </section>
  <section>
    <h1 class="sub-title" appScrollReveal>☁️ Azure Certifications</h1>
    <div class="container">
      <a
        href="https://learn.microsoft.com/api/credentials/share/en-gb/JensonWintle-1210/598E5DAB522F9AB1?sharingId=ED7DCC9E8ECBFDEA"
      >
        <img
          class="image"
          src="assets/AI-900+Badge.png
        "
          alt="AI-900 Badge"
        />
      </a>
      <h3>AI-900</h3>
    </div>
    <div class="container">
      <a
        href="https://learn.microsoft.com/api/credentials/share/en-gb/JensonWintle-1210/7D9E8CD982EC9AB8?sharingId=ED7DCC9E8ECBFDEA"
      >
        <img
          class="image"
          src="assets/DP-900+Badge.png
        "
          alt="DP-900 Badge"
        />
      </a>
      <h3>DP-900</h3>
    </div>
  </section>

  <!-- <section>
    <h3 class="underline" appScrollReveal>Levelled up:</h3>
    <ul class="skills-list">
      <li appScrollReveal>
        <i class="devicon-csharp-plain colored"></i>
        <p>C#</p>
      </li>
      <li appScrollReveal>
        <i class="devicon-azure-plain colored"></i>
        <p>Azure</p>
      </li>
      <li appScrollReveal>
        <i class="devicon-xml-plain colored"></i>
        <p>xml</p>
      </li>
      <li appScrollReveal>
        <i class="devicon-sqlite-plain colored"></i>
        <p>SQLite</p>
      </li>
      <li appScrollReveal>
        <p>Delphi</p>
      </li>
    </ul>
  </section> -->
</div>
