<div class="projects-wrapper">
  <app-title></app-title>
  <p>
    Some projects I have worked on during my studies or in my free time. For
    further details on a particular project please check out the github page!
  </p>
  <div appScrollReveal class="card">
    <div class="card-details">
      <p class="text-title">Test 1</p>
      <p class="text-body">Here are the details of the card</p>
    </div>
    <button class="card-button">Check this out on Github</button>
  </div>

  <div appScrollReveal class="card">
    <div class="card-details">
      <p class="text-title">Test 2</p>
      <p class="text-body">Here are the details of the card</p>
    </div>
    <button class="card-button">Check this out on GitHub</button>
  </div>

  <div appScrollReveal class="card">
    <div class="card-details">
      <p class="text-title">Test 3</p>
      <p class="text-body">Here are the details of the card</p>
    </div>
    <button class="card-button">Check this out on Github</button>
  </div>
</div>
