.wrapper {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  width: 100%;
  min-height: 100%;
}

.middle {
  padding-top: 70px; /* Adjust as needed */
  flex-grow: 1; /* Ensure the middle element grows to fill available space */
}
