/*
 * The :host pseudo-class selects the component's host element
 * (e.g., <app-root>). We'll make it our main flex container.
*/
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the component fills the screen's height */
}

.middle {
  flex: 1; /* This is a shorthand for flex-grow: 1, which makes it expand */
  padding-top: 70px;
}

.footer {
  /* You can add footer-specific styles here if needed */
  width: 100%;
}
