<div class="certificates-container">
  <div appScrollReveal class="container">
    <a
      href="https://learn.microsoft.com/api/credentials/share/en-gb/JensonWintle-1210/598E5DAB522F9AB1?sharingId=ED7DCC9E8ECBFDEA"
    >
      <img
        class="image"
        src="assets/AI-900+Badge.png
        "
        alt="AI-900 Badge"
      />
    </a>
  </div>
  <div appScrollReveal class="container">
    <a
      href="https://learn.microsoft.com/api/credentials/share/en-gb/JensonWintle-1210/7D9E8CD982EC9AB8?sharingId=ED7DCC9E8ECBFDEA"
    >
      <img
        class="image"
        src="assets/DP-900+Badge.png
        "
        alt="DP-900 Badge"
      />
    </a>
  </div>
</div>

<ng-lottie
  [class.active-red-rocker]="isComponentBGDark"
  [class.inactive-red-rocker]="!isComponentBGDark"
  [options]="rockerRedOptions"
  width="250px"
  height="250px"
></ng-lottie>
<ng-lottie
  [class.inactive-green-rocker]="isComponentBGDark"
  [class.active-green-rocker]="!isComponentBGDark"
  [options]="rockerGreenOptions"
  width="250px"
  height="250px"
></ng-lottie>
