/* Lays out the certificate containers */
.certificates-container {
  display: flex;

  flex-wrap: wrap;
  gap: 2rem; /* Adds space between your certificates */
}

/* Defines the base style for the image */
.image {
  /* This is the key to a "snappy" animation. 0.2s is a very quick transition. */
  transition: transform 0.2s ease-in-out;
  display: block; /* Helps prevent extra space below the image */
  max-width: 100%;
  width: 100px;
  height: 100px;
}

/* This is where the magic happens on hover ✨ */
.container:hover .image {
  /* Combines enlarging (scale) and rotating (rotate) the image */
  transform: scale(1.1) rotate(5deg);
}

.active-red-rocker {
  display: block;
}
.inactive-red-rocker {
  display: none;
}
.active-green-rocker {
  display: block;
}
.inactive-green-rocker {
  display: none;
}
