.white-card {
  align-self: center;
  position: relative;
  width: 500px;
  height: 250px;
  border-radius: 14px;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.dark-card {
  align-self: center;
  position: relative;
  width: 500px;
  height: 250px;
  border-radius: 14px;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #373737, -20px -20px 60px black;
}

.table-container {
  overflow-x: auto;
  margin-top: 5rem;
  padding-left: 1%;
}

.tbody {
  white-space: nowrap;
  padding: 20%;
}

.table {
  min-width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 16px; /* 14px */
  font-weight: 500;
  font-family: 'JetBrains Mono', monospace;
}

.table-row {
  border-bottom: 20px solid transparent; /* Adjust the value as needed */
}

.white-bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 490px;
  height: 240px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
}
.dark-bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 490px;
  height: 240px;
  z-index: 2;
  background: black;
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid #212121;
}

.white-blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 150px;
  border-radius: 50%;
  background-color: green;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

.dark-blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 150px;
  border-radius: 50%;
  background-color: #ff0000;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

.custom-overflow {
  overflow-x: auto;
  margin-top: 5rem; /* 20 * 0.25rem = 5rem */
}

.custom-table {
  min-width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 0.875rem; /* 14px */
}

.custom-thead {
  direction: ltr;
  text-align: left;
}

.custom-thead .custom-th {
  white-space: nowrap;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: #1f2937; /* text-gray-900 */
}

.custom-thead .custom-th.dark-mode {
  color: #ffffff; /* text-white */
}

.custom-tbody {
  border-top-width: 2px;
  border-top-color: #e5e7eb; /* divide-gray-200 */
  border-bottom-width: 2px;
  border-bottom-color: #e5e7eb; /* divide-gray-200 */
}

.custom-tbody .custom-tr .custom-td {
  white-space: nowrap;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: #1f2937; /* text-gray-900 */
}

.custom-tbody .custom-tr .custom-td.dark-mode {
  color: #ffffff; /* text-white */
}

.custom-tbody .custom-tr .custom-td-desc {
  white-space: nowrap;
  padding: 0.5rem 1rem;
  color: #4b5563; /* text-gray-700 */
}

.custom-tbody .custom-tr .custom-td-desc.dark-mode {
  color: #e5e7eb; /* text-gray-200 */
}

.dark-mode .custom-tbody {
  border-top-color: #374151; /* divide-gray-700 */
  border-bottom-color: #374151; /* divide-gray-700 */
}
