/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}


.dark-class {
  background: #373737;
  color: white;
  height: 100%;
}
.white-class {
  background: #e8e8e8;
  color: black;
  height: 100%;
}


.dark-class-header {
  background: #2e2e2e;
  color: white;
  height: 100%;
}

.white-class-header {
background: #e0dfdf;
  color: black;
  height: 100%;
}
.title {
  font-size: 50px; /* 14px */
  font-weight: 1000;
  font-family: 'JetBrains Mono', monospace;
}
/* Same as title */
h1 {
  font-size: 50px;
  font-weight: 1000;
  font-family: 'JetBrains Mono', monospace;
}

.sub-title {
  font-size: 35px; /* 14px */
  font-weight: 1000;
  font-family: 'JetBrains Mono', monospace;
  margin-bottom: 3%;
}

h2 {
  font-size: 35px; /* 14px */
  font-weight: 1000;
  font-family: 'JetBrains Mono', monospace;
  margin-bottom: 3%;
}

h3 {
  font-size: 30px;
  font-weight: 1000;
  font-family: 'JetBrains Mono', monospace;
}

h4 {
  font-size: 25px;
  font-weight: 1000;
  font-family: 'JetBrains Mono', monospace;
  text-decoration: underline;
}
h5 {
  font-size: 25px;
  font-weight: 1000;
  font-family: 'JetBrains Mono', monospace;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  margin-right: 5%;
  margin-left: 5%;
  max-width: 100vh;
}
p {
  font-size: 20px;
  font-weight: 500;
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
}
.four-by-four {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 5fr 5fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5%;
}

.four-by-four-fixed {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
  grid-template-rows: repeat(2, 1fr); /* 2 equal rows */

  width: 300px; /* Set a fixed width */
  height: 150px; /* Set a fixed height */
  margin: 0 auto; /* Center the grid on the page */
}

.three-by-one {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

/* Tablet size (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 40px;
  }
  .sub-title {
    font-size: 30px;
  }
  .section {
    font-size: 16px;
  }
  p {
    font-size: 13px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 20px;
  }
}

/* Mobile size (max-width: 767px) */
@media (max-width: 767px) {
  .title {
    font-size: 30px;
  }
  .sub-title {
    font-size: 23px;
  }
  .section {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 15px;
  }
  h5 {
    font-size: 15px;
  }
}
