<div
  class="wrapper"
  [class.dark-class]="isComponentBGDark"
  [class.white-class]="!isComponentBGDark"
>

  <section appScrollReveal id="home">

<!-- <h1>Hi, I'm Jenson</h1> -->
    <div class="profile-content">
          <app-title class="title"></app-title>
          <app-solar-system class="solar-system"></app-solar-system>
    </div>

    <!-- <h1 class="sub-title">What are my interests?</h1>
    <div class="four-by-four">
      <p>🖥️ Software Engineering</p>
      <p>🤖 AI & Machine Learning</p>
      <p>📐 Mathematics & Problem Solving</p>
      <p>🎸 Practicing & Playing Guitar</p>
    </div>
    <h1 class="sub-title">Projects</h1>
    <a href="https://github.com/Jensooon/AzureAiWebsiteJW">
      - Explore Azure AI capabilities in a website. Describe images, translate
      text, detect characters in images and much more!
    </a>
    <a href="https://github.com/Jensooon/WPFCalendarApp">
      - Track dates, plan events in this WPF Calendar Application. Built with
      MVVM and Prism.
    </a>
    <a href="https://github.com/Jensooon/UsefulAutoHotkeyScripts"
      >- Improve prodcutivity using these useful autohotkey scripts.</a
    > -->
  </section>
  


  <section appScrollReveal id="about">
    <app-about></app-about>
  </section>

  <section appScrollReveal id="projects">
    <app-projects></app-projects>
  </section>

  <section appScrollReveal id="dissertation">
    <app-dissertation></app-dissertation>
  </section>


  <!-- 
  <section appScrollReveal>
    <h1 class="sub-title">Skills</h1>
    <p>
      - Explore Azure AI capabilities in a website. Describe images, translate
      text, detect characters in images and much more!
    </p>
    <p>
      - Track dates, plan events in this WPF Calendar Application. Built with
      MVVM and Prism.
    </p>
    <p>Full stack development in Delphi</p>
  </section> -->
</div>
