<section appScrollReveal id="home">
  <div
    class="profile-content"
    [class.finisher-header]="isComponentBGDark"
    [class.white-class-footer]="!isComponentBGDark"
  >
    <app-title class="title"></app-title>
    <ng-lottie
      [class.active-red-rocker]="isComponentBGDark"
      [class.inactive-red-rocker]="!isComponentBGDark"
      [options]="rockerRedOptions"
    ></ng-lottie>
    <ng-lottie
      [class.inactive-green-rocker]="isComponentBGDark"
      [class.active-green-rocker]="!isComponentBGDark"
      [options]="rockerGreenOptions"
    ></ng-lottie>

    <ng-lottie
      class="lightning top-left"
      [options]="purple7B52AELightningOptions"
    ></ng-lottie>

    <ng-lottie
      class="lightning top-right"
      [options]="green94C773LightningOptions"
    ></ng-lottie>

    <ng-lottie
      class="lightning bottom-right"
      [options]="purple653496LightningOptions"
    ></ng-lottie>
    <ng-lottie
      class="lightning bottom-left"
      [options]="green74B652LightningOptions"
    ></ng-lottie>
  </div>
</section>

<!-- <h1 class="sub-title">What are my interests?</h1>
    <div class="four-by-four">
      <p>🖥️ Software Engineering</p>
      <p>🤖 AI & Machine Learning</p>
      <p>📐 Mathematics & Problem Solving</p>
      <p>🎸 Practicing & Playing Guitar</p>
    </div>
    <h1 class="sub-title">Projects</h1>
    <a href="https://github.com/Jensooon/AzureAiWebsiteJW">
      - Explore Azure AI capabilities in a website. Describe images, translate
      text, detect characters in images and much more!
    </a>
    <a href="https://github.com/Jensooon/WPFCalendarApp">
      - Track dates, plan events in this WPF Calendar Application. Built with
      MVVM and Prism.
    </a>
    <a href="https://github.com/Jensooon/UsefulAutoHotkeyScripts"
      >- Improve prodcutivity using these useful autohotkey scripts.</a
    > -->

<div
  class="wrapper"
  [class.dark-class]="isComponentBGDark"
  [class.white-class]="!isComponentBGDark"
>
  <section appScrollReveal id="about">
    <app-about></app-about>
  </section>
  <ng-lottie
    [class.active-red-waves]="isComponentBGDark"
    [class.inactive-red-waves]="!isComponentBGDark"
    [options]="waveRedoptions"
    width="30vw"
    height="30vh"
  ></ng-lottie>
  <ng-lottie
    [class.inactive-green-waves]="isComponentBGDark"
    [class.active-green-waves]="!isComponentBGDark"
    [options]="waveGreenoptions"
    width="30vw"
    height="30vh"
  ></ng-lottie>

  <section id="projects">
    <app-projects></app-projects>
  </section>
</div>
