.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home {
  margin: 0;
  max-width: none;
}
#projects {
  margin: 0 0 3rem 0;
}

/* This is your existing rule, which is now correct */
.profile-content {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90vh;
  width: 100%;
  position: relative;
}

/* This targets the components inside .profile-content */
.profile-content > * {
  position: relative;
  z-index: 1;
}

.active-red-rocker {
  display: block;
}
.inactive-red-rocker {
  display: none;
}
.active-green-rocker {
  display: block;
}
.inactive-green-rocker {
  display: none;
}

/* Rotates the animation 90 degrees clockwise */
.lottie-container {
  transform: rotate(90deg);
}

.headings {
  grid-area: headings;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-top: -10%;
}
.user-card {
  grid-area: user-card;
}

a {
  font-size: 20px;
  font-weight: 500;
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  text-decoration: none;
  color: inherit;
  margin-bottom: 5%;
}
a:visited {
  color: inherit;
}
a:hover {
  color: #5cadd2;
}

.active-red-waves {
  display: block;
}
.inactive-red-waves {
  display: none;
}

.active-green-waves {
  display: block;
}
.inactive-green-waves {
  display: none;
}

/* Tablet size (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  a {
    font-size: 13px;
  }
}

/* Mobile size (max-width: 767px) */
@media (max-width: 767px) {
  a {
    font-size: 12px;
  }

  .profile-content {
    flex-direction: column;
  }
}

.dark-solar-system {
  display: block;
}

.white-solar-system {
  display: none;
}

.dark-truck {
  display: none;
}

.white-truck {
  display: block;
  margin-left: 15px;
}
