<section appScrollReveal id="home">
  <div
    class="profile-content"
    [class.finisher-header]="isComponentBGDark"
    [class.white-class-footer]="!isComponentBGDark"
  >
    <app-title class="title"></app-title>
    <ng-lottie
      [class.active-red-rocker]="isComponentBGDark"
      [class.inactive-red-rocker]="!isComponentBGDark"
      [options]="rockerRedOptions"
    ></ng-lottie>
    <ng-lottie
      [class.inactive-green-rocker]="isComponentBGDark"
      [class.active-green-rocker]="!isComponentBGDark"
      [options]="rockerGreenOptions"
    ></ng-lottie>

    <ng-lottie
      class="lightning top-left"
      [options]="purple7B52AELightningOptions"
      [hidden]="isComponentBGDark"
    ></ng-lottie>

    <ng-lottie
      class="lightning top-right"
      [options]="green94C773LightningOptions"
      [hidden]="isComponentBGDark"
    ></ng-lottie>

    <ng-lottie
      class="lightning bottom-right"
      [options]="purple653496LightningOptions"
      [hidden]="isComponentBGDark"
    ></ng-lottie>
    <ng-lottie
      class="lightning bottom-left"
      [options]="green74B652LightningOptions"
      [hidden]="isComponentBGDark"
    ></ng-lottie>
  </div>
</section>

<div
  class="wrapper"
  [class.dark-class]="isComponentBGDark"
  [class.white-class]="!isComponentBGDark"
>
  <section appScrollReveal id="about">
    <app-about></app-about>
  </section>
  <ng-lottie
    [class.active-space-mail]="isComponentBGDark"
    [class.inactive-space-mail]="!isComponentBGDark"
    [options]="spaceMail"
    width="30vw"
    height="30vh"
  ></ng-lottie>

  <section id="projects">
    <app-projects></app-projects>
  </section>
</div>
