<!-- From Uiverse.io by narmesh_sah -->

<div class="solar-system-container">
  <div class="solar-system">
    <div class="sun"></div>
    <div
      class="earth-orbit"
      [class.dark-earth-orbit]="isComponentBGDark"
      [class.white-earth-orbit]="!isComponentBGDark"
    >
      <div class="earth">
        <div
          class="moon-orbit"
          [class.dark-moon-orbit]="isComponentBGDark"
          [class.white-moon-orbit]="!isComponentBGDark"
        >
          <div
            class="moon"
            [class.dark-moon]="isComponentBGDark"
            [class.white-moon]="!isComponentBGDark"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
